{% extends 'generator/base.html' %}
{% block content %}
    <h1>Описание принципа работы</h1>
    <li>Длина пароля - количество символов, используемух для генерации</li>
    <li>Использовать заглавные - разрешить использование заглавных букв</li>
    <li>Использовать цифры - разрешить использование цифр</li>
    <li>Использовать спец.символы - разрешить использование специальных символов вида (! " № ; и т.п.)</li>
    <br>
    <a href="{% url 'home' %}" class="btn btn-warning"> На главную </a>
{% endblock  %}